body {background-color:#00909080}

h1 {text-align: center;}

h3 {text-align: center;}

img {height: auto;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ebea8fe8; border-radius: 12px;}

    .oatmeal-content { border: 5px #ef916fe0; margin: auto; border-style: double; margin-bottom: 20px;
        border-radius: 12px; background-color: rgb(154, 235, 235);}
   
           .text-location { margin-left: 20px;}

.homelink { background-color: #00909080; cursor: pointer; border: 2px solid; border-color: #ef916fe0; border-radius: 12px; 
    padding: 10px; transition-duration: 0.4s; font-size: 20px; margin-inline-start: 50%;}

.homelink:hover { background-color: #ef916fe0;}

body {font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;}