body {background-color:#00909080}

h1 {text-align: center;}

h3 {text-align: center;}

img {height: auto;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ebea8fe8;}

    .homelink {margin: 50%; padding: 0%; text-align: center;}

body {font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;} 