body {background-color:#00909080}


h1 {text-align: center;}

img {height: auto;
     width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #ebea8fe8; border-style: solid; border-radius: 12px; 
    margin-bottom: 50px;}

.recipe-menu { border: 5px #ef916fe0; width: 30%; height: auto; margin: auto; margin-bottom: 40px;
                 border-style: solid double; border-radius: 12px; background-color: rgb(154, 235, 235);}

ul {list-style-type:none; margin: 0%; padding: 5%; text-align: center;}

.recipe-link1 { border-style: none; margin: 50px;}


.tofulink { background-color: #00909080; cursor: pointer; border: 2px solid; border-color: #ef916fe0; border-radius: 12px; 
    padding: 10px; transition-duration: 0.4s; font-size: 20px; margin: 20px; left: 50px;}

.tofulink:hover { background-color: #ef916fe0;}

.redbeanlink  { background-color: #00909080; cursor: pointer; border: 2px solid; border-color: #ef916fe0; border-radius: 12px; 
    padding: 10px; transition-duration: 0.4s; font-size: 20px; margin: 20px; left: 50px;}

.redbeanlink:hover { background-color: #ef916fe0;}

.oatmeallink { background-color: #00909080; cursor: pointer; border: 2px solid; border-color: #ef916fe0; border-radius: 12px; 
    padding: 10px; transition-duration: 0.4s; font-size: 20px; margin: 20px; left: 50px;}

.oatmeallink:hover { background-color: #ef916fe0;}

.top-nav { display: flex; overflow: hidden; background-color: #00909080;}

.top-nav div { background-color: #00909080;}

.top-nav a { padding-left: 10px; padding-right: 10px; padding-top: 5px;
    padding-bottom: 5px; text-align: center; font-size: 20px; text-decoration: none; color: black;}

.top-nav a:hover , a:active { background-color: #ef916fe0; color: azure;}



body {font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;}